.flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
}

* {
  margin: 0px;
}

.flex h2 {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
}
