* {
  margin: 0px;
}

header,
main,
div,
section,
footer,
h1,
h2,
h3,
p {
  background-color: #f5f5f5;
  margin: 10px;
}

p {
  background-color: lightblue;
}
span,
a {
  background-color: lightgray;
}
